name: Convert to Word (pandoc)
on:
    workflow_dispatch:
permissions:
  contents: write
jobs:
  convert_via_pandoc:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: fix permissions
        run: "chown -R $(id -u):$(id -g) ."
      - name: set git variables
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Convert with Pandoc Action
        uses: docker://pandoc/core:3.5
        with:
          args: >-
           --from=latex
           --to=docx
           --output=./output/main.docx
           ./manuscript/main.tex
      - name: Write Build Status
        run: |
          TIMESTAMP=$(date --utc +'%Y-%m-%dT%H:%M:%SZ')
          echo "{\"lastBuild\": \"${TIMESTAMP}\"}" > ./build-info/pandoc-build-info.json
      - name: adding new word doc
        run: |
          git add ./output/main.docx
          git add ./build-info/pandoc-build-info.json
          git commit -m 'adding new docx, github action'
          git push
